name: Analysis & Coverage

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: ana_cov-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  analysis:
    runs-on: ubuntu-22.04
    name: Analysis

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: "3.10"

      - name: Install from source
        run: |
          python3 -m pip install -r requirements.txt

      - name: Run Analysis
        run: |
          python3 -m pip install pylint
          python3 -m pylint --recursive=y "ex_app/lib/"
